
SLINK-E_LEVEL_DESIGN/Library/ArtifactDB
SLINK-E_LEVEL_DESIGN/Library/ArtifactDB-lock
SLINK-E_LEVEL_DESIGN/Temp/UnityLockfile
LevelDesign/Library/ShaderCache.db
LevelDesign/Temp/UnityLockfile
LevelDesign/Library/SourceAssetDB
LevelDesign/Library/SourceAssetDB
LevelDesign/Library/ArtifactDB
LevelDesign/Library/SourceAssetDB
LevelDesign/Library/SourceAssetDB
